<h1> Welcome to Survey Wizard! </h1>
<% unless logged_in? %>
  <h5>Are you an administrator or a user?</h5>
  <form action="/login" method="post">
  	<div class="form-group">
  	  <select id="user_type" name="user_type">
  	    <option id="admin" value="admin">Administrator</option>
  	    <option id="user" value="user">User</option>
  	  </select>
  	<button class ="btn btn-info" id="login" name="login">Log In</button>
  	</div>
  </form>
<% end %>
